.active-tab {
  font-weight: bolder;
}

header {
  position: relative;
  padding-top: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

header .title h2 {
  color: #47525E;
  font-family: Enriqueta;
  font-size: 70px;
  line-height: 91px;
  width: 482px;
  margin: 0 auto;
  margin-bottom: 60px;
  text-align: center;
}

header .selection-tabs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  margin-bottom: 80px;
}

header .selection-tabs p {
  color: #47525E;
  font-family: Lato;
  font-size: 25px;
  line-height: 32px;
}

header .selection-tabs > div {
  border-bottom: 2px solid #47525E;
}

header .selection-tabs .designs,
header .selection-tabs .top-picks {
  border-right: 2px solid #47525E;
}

header .back-to-feed {
  position: absolute;
  left: 30px;
  top: 57px;
  width: 190px;
}

header .back-to-feed b {
  margin-right: 15px;
  font-size: 22px;
  color: #8190A5;
  cursor: pointer;
  font-family: 'Lato';
}

header .back-to-feed b:hover {
  color: black;
}

header .back-to-feed b i {
  font-size: 40px;
  cursor: pointer;
  display: block;
  float: left;
  margin-top: -5px;
  margin-right: 10px;
}

header .account-settings-button {
  position: absolute;
  right: 30px;
  top: 57px;
}

header .account-settings-button b {
  margin-right: 15px;
  font-size: 22px;
  color: #8190A5;
  cursor: pointer;
  font-family: 'Lato';
}

header .account-settings-button b:hover {
  color: black;
}

header .account-settings-button b i {
  font-size: 40px;
  cursor: pointer;
  display: block;
  float: right;
  margin-top: -3px;
}

header .my-page-button {
  position: absolute;
  right: 30px;
  top: 57px;
}

header .my-page-button img {
  width: 30px;
  height: auto;
  margin-top: -7px;
}

header .my-page-button b {
  margin-right: 30px;
  font-size: 22px;
  color: #8190A5;
  cursor: pointer;
  font-family: 'Lato';
}

header .my-page-button b:hover {
  color: black !important;
}

header .my-page-button b:hover i {
  color: black;
}

header .my-page-button i {
  font-size: 40px;
  color: #8190A5;
  cursor: pointer;
  display: block;
  float: right;
  margin-top: -3px;
}

header .my-page-button i:hover {
  color: black;
}

side {
  position: absolute;
  left: 5vw;
  margin: 0 auto;
  max-width: 1140px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

side p {
  margin-bottom: 5px;
}

side p.active-profile-setting {
  color: palevioletred !important;
  font-weight: bold !important;
}

side .user-info {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-right: 15px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  width: 217px;
}

side .selection-tabs {
  width: 217px;
  padding-top: 15px;
  border-right: 2px solid black;
}

side .my-designs b,
side .my-collection b {
  font-size: 20px;
  margin-bottom: 10px;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  color: #47525E;
  text-align: center;
  height: 100vh;
  padding-right: 30px;
  padding-left: 30px;
  margin-bottom: 100px;
}

main > p {
  font-size: 22px;
  color: #E98FAF;
}

main .user-designs {
  background: #E98FAF;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-size: 20px;
  color: white;
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
  padding-bottom: 2px;
  cursor: pointer;
}

main .user-collections {
  background: #CC4B4B;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  margin: 0 auto;
  font-size: 20px;
  color: white;
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
  padding-bottom: 2px;
}

main .feed-designs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
  padding-bottom: 50px;
}

main .feed-designs img {
  margin: 0 auto;
  height: 435px !important;
  width: 435px !important;
}

main .front-logo img {
  max-height: 400px;
  width: auto;
  height: 40vw;
}

main .start-button .pitch {
  margin-bottom: 50px;
}

main .start-button .pitch h4 {
  font-size: 28px;
}

main .start-button input,
main #login-b {
  background-color: #E98FAF;
  border-radius: 5px;
  width: 283px;
  height: 74px;
  border-color: transparent;
  font-size: 23px;
  color: white;
  margin-bottom: 25px;
}

main #signup {
  background-color: #CC4B4B;
  border-radius: 5px;
  width: 283px;
  height: 74px;
  color: white;
  font-size: 23px;
  border-color: transparent;
}

main #register form input,
main #login form input {
  margin-bottom: 30px;
}

main #register form input:not(:last-child),
main #login form input:not(:last-child) {
  background-color: #FFFFFF;
  border: 1px solid #8492A6;
  border-radius: 5px;
  width: 204px;
  height: 41px;
  font-size: 22px;
  padding-left: 10px;
}

main .change-icon {
  margin-bottom: 30px;
}

main .change-icon input {
  margin-bottom: 15px;
}

main .change-icon img {
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}

main .change-username {
  margin-bottom: 15px;
}

main .change-username input {
  margin-bottom: 15px;
}

main .change-email {
  margin-bottom: 15px;
}

main .change-email input {
  margin-bottom: 15px;
}

main .change-password {
  margin-bottom: 15px;
}

main .change-password input {
  margin-bottom: 15px;
}

main .actionButtons {
  margin-top: 40px;
}

main .actionButtons button:first-child {
  background-color: #CC4B4B;
  border-radius: 5px;
  width: 113px;
  height: 37px;
  border-color: transparent;
  font-size: 21px;
  color: white;
  margin-bottom: 25px;
  margin-right: 20px;
}

main .actionButtons button:last-child {
  background-color: #E98FAF;
  border-radius: 5px;
  width: 113px;
  height: 37px;
  border-color: transparent;
  font-size: 21px;
  color: white;
  margin-bottom: 25px;
}
/*# sourceMappingURL=style.css.map */