main {
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
    color: #47525E;
    text-align: center;
    height: 100vh;
    overflow: hidden;

    .front-logo {
        img {
            max-height: 400px;
            width: auto;
            height: 40vw;
        }
    }

    
    .start-button {
        .pitch {    
            margin-bottom: 50px;

            h4 {
                font-size: 28px;
            }
        }
    }

    .start-button input,
    #login-b {
        background-color: #E98FAF;
        border-radius: 5px;
        width: 283px;
        height: 74px;
        border-color: transparent;
        font-size: 23px;
        color: white; 
        margin-bottom: 25px;       
    }

    #signup {
        background-color: #CC4B4B;
        border-radius: 5px;
        width: 283px;
        height: 74px;
        color: white;
        font-size: 23px;
        border-color: transparent;
    }

    #register,
    #login {
        form {
            input {
                margin-bottom: 30px;

                &:not(:last-child) {
                    background-color: #FFFFFF;
                    border: 1px solid #8492A6;
                    border-radius: 5px;
                    width: 204px;
                    height: 41px;
                    font-size: 22px;
                    padding-left: 10px;
                }
            }
        }
    }
}